/** Sizing specific stuff **/

@media (max-width: 967px) {
body {font-size:28px;}
.profileimage {max-width:170px; max-height:170px;}
}  
  
@media (min-width: 967px) {
body {font-size:32px;}
.profileimage {max-width:250px; max-height:250px; width:15vw; height:15vw;}
}

/** Main Styles **/

body {font-family: "DM Sans", sans-serif; font-weight: 500; color:#707070;background:#FAFAFA;text-align:center}
h2 {color:#22bee3;font-size: 110%;font-weight:700;margin-top:1vh; margin-bottom:7vh;max-width:740px;margin-left: auto;margin-right: auto}
a {color:inherit; text-decoration:none;}
p, ul, ol  {font-size: 67%;line-height:160%;font-weight:500;}
a:hover {border-bottom: 1px dotted #F6714F;color:#F6714F;}


/**profile image**/

.profileimage {margin-top:12vh;margin-bottom:9vh;margin-left: auto;margin-right: auto; width:180px; height:180px; border-radius:50%;background-color:#524e4b;background-image: url("/assets/img/andrew-denty-profile.jpg");background-size: contain; }

.profileimage:hover {background-image: url("/assets/img/andrew-denty-headshot.jpg");transition: 200ms ease-in}

.profileimage a:active {background-image: url("/assets/img/andrew-denty-headshot.jpg");transition: 200ms ease-in}


/** Animations **/

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/** Fadeindown **/ 

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}



