


/** Sizing specific stuff **/

@media (max-width: 967px) {
body {font-size:20px;}
.profileimage {max-width:150px; max-height:150px;}
}  
  
@media (min-width: 967px) {
body {font-size:30px;}
.profileimage {max-width:300px; max-height:300px; width:15vw; height:15vw;}
}

/** Other Stuff **/

body {font-family: 'Source Sans Pro', sans-serif; color:#fff;background:#22bee3;text-align:center}
h1 {font-size: 220%;font-weight:300;margin-top:1vh; margin-bottom:1vh;}
h2 {font-size: 100%;font-weight:300;margin-top:1vh; margin-bottom:1vh;}
a {color:#fff; text-decoration:none;}
p {font-size: 80%; font-weight:300;}
p a {font-weight:300;}

.content {}
.experiments {text-align: left;}
.profileimage {margin-top:6vh;margin-bottom:3vh; }

.spacer {height:2vh}

/** experiments page **/

.code {font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 90%;background:#63D1EB; padding:3px;margin:-3px 3px -3px 3px;}

.livecode {font-family: Menlo,Monaco,Consolas,"Courier New",monospace; font-size: 90%;background:#d2ac2d; padding:3px;margin:-3px 3px -3px 3px;}
